// CSS Style Guide: http://codeguide.co/#css



$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';
$variables = base $scheme custom;
$mixins    = base $scheme custom;



// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable


// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;



// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;



// Custom Layer
// --------------------------------------------------
@import "_custom/custom";

@media (max-width: 1200px) {
      body{ padding-right: 0 !important; }
      .sfix{display:none!important;}
}
@media (max-width: 991px) {
      body{ padding-right: 0 !important;padding-left: 0 !important; }
      .sfix{display:none!important;}

}

@media (min-width: 1200px) and (max-width: 1240px){
      body .page-post-detail .main-inner{width: 620px !important; }
}
@media (min-width: 1400px) {
      body .page-post-detail .main-inner{width: 900px !important; }
}
.header-inner{padding:60px 0 0}
pre{
    word-break: break-all;
    white-space: pre-wrap;

}
.sfix{
    position: absolute;
    right: -240px;
    bottom: 0px;
    top: 6px;
    left: auto;
    width: 240px;
}
